<div nz-row>
    <div class="container" nz-col [nzSpan]="18" [nzPush]="6">
        <div nz-row [nzGutter]="18">
          <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
              <mat-card></mat-card>
          </div></div>
          <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
              <mat-card></mat-card>
          </div></div>
          <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
              <mat-card></mat-card>
          </div></div>
          <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
              <mat-card></mat-card>
          </div></div>
        </div>

        <div class="map" nz-row [nzGutter]="18">
            <mat-card>
                <div #mapContainer id="map">
                    
                </div>
            </mat-card>
        </div>

    </div>
    <div nz-col [nzSpan]="6" [nzPull]="18">
        <app-navigation></app-navigation>
    </div>
</div>